body{
	background-color: #151619;
	font-family: 'IBM Plex Mono', monospace;
font-family: 'Overpass', sans-serif;
}
.header{
	background-color: #1c1d21;
	color: white;
	height: 110px;
}
.nav{
		margin-left: 10%;
	margin-right: 10%;
}
.nav-top{
	padding-top: 10px;
	display: flex;
	justify-content: space-between;

}
.top1{
	column-gap: 30px;
	display: flex;
	justify-content: space-between;
}
.top2{
	column-gap: 30px;
	display: flex;
	justify-content: space-between;
}
  /* значки */
 .logo-img {
 	height: 40px;
 }
 .button-nav{

 }
 .button-nav:hover, .button-nav:focus {

  border-radius: 30px;
    background-color: #26272a;
}
.position{
		display: flex;
	justify-content: center;
	justify-content: space-around;
	background-color: #151619;
	border-radius: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-size: contain;
}
.position-menu{
	color: white;
	font-size: 20px;
}
.menu{
			margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;

}
.menu-header{
	display: flex;
	color: white;
	font-size: 30px;
	justify-content: center;

		column-gap: 10px;

}
.hr-menu1{
	height: 2px;
	width: 50px;
	background-color: #f25924;
	margin-top: 15px;
	border-radius: 10px;
}
.hr-menu2{
	height: 2px;
	width: 2000px;
	background-color: #f25924;
	margin-top: 15px;
	border-radius: 10px;
}
.menu-eat{
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 30px;
}
.menu-card{
	margin-bottom: 10px;
	color: white;
	font-size: 20px;
	height: 405px;
	width: 300px;
	word-wrap: break-word;
	overflow:hidden;
	background-color: #26272a;
	border-radius: 20px;
}
.menu-card-center{
	margin-left: 10px;
}
.menu-card-bottom{
	display: flex;
	column-gap: 140px;
	align-items: center;
}
.img-card{
	height: 300px;
	background-size: cover;
}
.card-text{
	display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.button-card__price{
	background-color: #ff4200;
	border-radius: 20px;
	padding: 3px;
	font-weight: 300;
}
.card-text__ing{
	color:gray;
	font-size:10px;

}

.menu-card:hover{

	background: linear-gradient(180deg, rgba(0,0,0,0.48503151260504207) 0%, rgba(0,0,0,0.2637429971988795) 6%, rgba(0,0,0,0.05646008403361347) 95%, rgba(0,0,0,0.5130427170868348) 100%);
}

.pustota{
	height: 30px;
}
.pustota2{
	height: 20px;
}
.pustota3{
	height: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .menu {
  padding-top: 100px;
}
@media screen  and (max-width:787px) {


	.menu-eat{
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;


}
.menu{
			margin-left: 2%;
	margin-right: 2%;
	margin-top: 25px;

}
.nav{
		margin-left: 2%;
	margin-right: 2%;
}
.menu-card{
	margin-bottom: 10px;
	color: white;
	font-size: 20px;
	height: 270px;
	width: 200px;
	word-wrap: break-word;
	overflow:hidden;
	background-color: #26272a;
	border-radius: 20px;
}
.menu-card-center{
	margin-left: 10px;
}
.menu-card-bottom{
	display: flex;
	column-gap: 40px;
	align-items: center;
}
.img-card{
	height: 150px;
	width: 100%;
	background-size: cover;
}
.card-text__name{
	font-size: 15px;
}
.card-text{
	display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.button-card__price{
	font-size: 18px;
	background-color: #ff4200;
	border-radius: 20px;
	padding: 3px;
	font-weight: 300;
}
.card-text__ing{
	color:gray;
	font-size:10px;

}
.pustota{
	height: 50px;
}
.pustota2{
	height: 20px;
}
.pustota3{
	height: 45px;
}
}
@media screen  and (max-width:687px) {


	.menu-eat{
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}
.menu{
			margin-left: 2%;
	margin-right: 2%;
	margin-top: 25px;

}
.nav{
		margin-left: 2%;
	margin-right: 2%;
}
.menu-card{
	margin-bottom: 10px;
	color: white;
	font-size: 20px;
	height: 300px;
	width: 200px;
	word-wrap: break-word;
	overflow:hidden;
	background-color: #26272a;
	border-radius: 20px;
}
.menu-card-center{
	margin-left: 10px;
}
.menu-card-bottom{
	display: flex;
	column-gap: 40px;
	align-items: center;
}
.img-card{
	height: 150px;
	width: 100%;
	background-size: cover;
}
.card-text{
	display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.button-card__price{
	background-color: #ff4200;
	border-radius: 20px;
	padding: 3px;
	font-weight: 300;
}
.card-text__ing{
	color:gray;
	font-size:10px;

}

}
@media screen  and (max-width:600px) {


	.menu-eat{
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;




}
.menu{
			margin-left: 2%;
	margin-right: 2%;
	margin-top: 25px;

}
.nav{
		margin-left: 2%;
	margin-right: 2%;
}
.menu-card{
	margin-bottom: 10px;
	color: white;
	font-size: 20px;
	height: 250px;
	width: 150px;
	word-wrap: break-word;
	overflow:hidden;
	background-color: #26272a;
	border-radius: 20px;
}
.menu-card-center{
	margin-left: 10px;
}
.menu-card-bottom{
	display: flex;
	column-gap: 40px;
	align-items: center;
}
.img-card{
	height: 120px;
	width: 100%;
	background-size: cover;
}
.card-text{
	display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:15px;
}
.button-card__price{
	background-color: #ff4200;
	border-radius: 20px;
	padding: 3px;
	font-weight: 300;
	font-size: 12px;
}
.card-text__ing{
	color:gray;
	font-size:10px;

}
.header{
	background-color: #1c1d21;
	color: white;
	height: 100px;
	font-size: 10px;
}
 .logo-img {
 	height: 20px;
 }
 .position-menu{
	color: white;
	font-size: 12px;
}
.top1{
	column-gap: 20px;
	display: flex;
	justify-content: space-between;
}
.top2{
	column-gap: 20px;
	display: flex;
	justify-content: space-between;
}
.geo-img{
	height:15px;
}

.number-img{
	height:15px;
}
.basket-button{
	height:15px;
}
.pustota{
	height: 60px;
}
.pustota2{
	height: 20px;
}
.pustota3{
	height: 40px;
}
.hr-menu1{
	height: 2px;
	width: 50px;
	background-color: #f25924;
	margin-top: 7px;
	border-radius: 10px;
}
.hr-menu2{
	height: 2px;
	width: 2000px;
	background-color: #f25924;
	margin-top: 7px;
	border-radius: 10px;
}
.menu-header{
	display: flex;
	color: white;
	font-size: 30px;
	justify-content: center;

		column-gap: 5px;

}
}




