body{
	background-color: #151619;
	font-family: 'IBM Plex Mono', monospace;
font-family: 'Overpass', sans-serif;
}
.header{
	background-color: #1c1d21;
	color: white;
	height: 110px;
}
.container{
	margin-right: 10%;
	margin-left: 10%;
}

.nav-top{
	padding-top: 10px;
	display: flex;
	justify-content: space-between;

}

.nav-top_1{
	column-gap: 30px;
	display: flex;
	justify-content: space-between;
}
.nav-top_2{
	column-gap: 30px;
	display: flex;
	justify-content: space-between;
}

.logo-img{
	height: 40px;
}
.basket-button{
	margin-top:14px;
}
 .button-nav{

 }
 .button-nav:hover, .button-nav:focus {

  border-radius: 30px;
    background-color: #26272a;
}
.position{
		display: flex;
	justify-content: center;
	justify-content: space-around;
	background-color: #151619;
	border-radius: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-size: contain;
}
.position-menu{
	color: white;
	font-size: 20px;
}
.menu{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;

}
.menu-header{
	display: flex;
	color: white;
	font-size: 30px;
	justify-content: center;

		column-gap: 10px;

}
.hr-menu1{
	height: 2px;
	width: 50px;
	background-color: #f25924;
	margin-top: 15px;
	border-radius: 10px;
}
.hr-menu2{
	height: 2px;
	width: 2000px;
	background-color: #f25924;
	margin-top: 15px;
	border-radius: 10px;
}
.menu-position{
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 30px;
}
.card{
		margin-bottom: 10px;
	color: white;
	font-size: 20px;
	height: 405px;
	width: 300px;
	word-wrap: break-word;
	overflow:hidden;
	background-color: #26272a;
	border-radius: 20px;
}
.card-img{
	overflow:hidden;
	height: 60%;
}
.card-information{
	overflow:hidden;
	height: 25%;
}
.card-price{
	overflow:hidden;
	height: 10%;
}
.card-information_balance{
	margin-top: 10px;
	margin-left: 10px;
}
.card-text{
	display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.img-card{
height: 100%;
width: 100%;
background-size: cover;
}
.card-text__ing{
	color:gray;
	font-size:15px;

}
.card-price_balance{
	margin-top: 10px;
	display: flex;
	column-gap: 140px;
	align-items: center;
	margin-left: 10px;
}
.button-buy{
	background-color: #ff4200;
	border-radius: 20px;
	padding: 3px;
	font-weight: 300;
}
.header-text{
		display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .menu {
  padding-top: 100px;
}

@media screen  and (max-width:787px) {
	.container{
	margin-right: 2%;
	margin-left: 2%;
}
	.card{
		margin-bottom: 10px;
	color: white;
	font-size: 20px;
	height: 250px;
	width: 150px;
	word-wrap: break-word;
	overflow:hidden;
	background-color: #26272a;
	border-radius: 20px;
}
.card-img{
	overflow:hidden;
	height: 60%;
}
.card-information{
	overflow:hidden;
	height: 25%;
}
.card-price{
	overflow:hidden;
	height: 15%;
}
.card-information_balance{
	margin-top: 5px;
	margin-left: 2px;
}
.card-text{
	font-size: 12px;
	display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.img-card{
height: 100%;
width: 100%;
background-size: cover;
}
.card-text__ing{
	color:gray;
	font-size:8px;

}
.card-price_balance{
	margin-top: 10px;
	display: flex;
	column-gap: 65px;
	align-items: center;
	margin-left: 2px;
}
.button-buy{
	font-size: 10px;
	background-color: #ff4200;
	border-radius: 20px;
	padding: 3px;
	font-weight: 300;
}
.card-text__name{
	font-size: 10px;
}
.header-text{
	font-size: 20px;
		display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.hr-menu1{
	height: 2px;
	width: 50px;
	background-color: #f25924;
	margin-top: 10px;
	border-radius: 10px;
}
.hr-menu2{
	height: 2px;
	width: 2000px;
	background-color: #f25924;
	margin-top: 10px;
	border-radius: 10px;
}
.nav-top{
	padding-top: 10px;
	display: flex;
	justify-content: space-between;

}

.nav-top_1{
	column-gap: 10px;
	display: flex;
	justify-content: space-between;
}
.nav-top_2{
	gap: 10px;
	display: flex;
	justify-content: space-between;
}

.logo-img{
	height: 40px;
}
.basket-button{
	margin-top:14px;
}
 .button-nav{
 	font-size: 10px;
 }
 .button-nav:hover, .button-nav:focus {

  border-radius: 30px;
    background-color: #26272a;
}
.position{
		display: flex;
	justify-content: center;
	justify-content: space-around;
	background-color: #151619;
	border-radius: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-size: contain;
}
.position-menu{
	color: white;
	font-size: 12px;
}
.header{
	background-color: #1c1d21;
	color: white;
	height: 80px;
}
.logo-img{
	margin-top: 4px;
	height: 20px;
}
.geo-img{
	height: 15px;
}
.number-img{
	height: 15px;
}
.basket-button{
	height: 15px;
	margin-top:8px;
}
.menu{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 25px;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .menu {
  padding-top: 80px;
}
}

